<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <TestSessionTimeout>7200000</TestSessionTimeout>
    <TreatNoTestsAsError>true</TreatNoTestsAsError>
  </RunConfiguration>
  <GdUnit4>
    <GodotConnectTimeout>20000</GodotConnectTimeout>
  </GdUnit4>
</RunSettings>
