.cheat-console-root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.85);
    flex-direction: column;
    display: none;
}

.log-list {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 8px;
}

.log-entry {
    font-size: 16px;
    margin-bottom: 2px;
    white-space: normal;
}

.command-input {
    height: 28px;
    flex-shrink: 0;
    background-color: rgba(20, 20, 20, 0.95);
    color: rgb(255, 255, 255);
    border-color: rgba(100, 100, 100, 0.8);
    border-width: 1px;
    font-size: 16px;
    margin: 4px 8px 8px 8px;
}

.command-input > .unity-text-field__input {
    background-color: rgba(20, 20, 20, 0.95);
    color: rgb(255, 255, 255);
}
