.root-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.button {
    width: 180px;
    height: 48px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.843);
    border-radius: 8px;
    border-width: 2px;
    border-color: rgb(249, 135, 75);
    color: white;
    font-size: 18px;
    -unity-text-align: middle-center;
    cursor: arrow;
}

.button:hover {
    background-color: rgba(30, 30, 30, 0.9);
    border-color: rgb(255, 160, 100);
}

.button:active {
    background-color: rgba(50, 50, 50, 0.95);
}

.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.esc-button {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 100px;
    height: 40px;
    font-size: 16px;
}
