.menu-root {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 320px;
    height: 520px;
    background-color: rgba(0, 0, 0, 0.937);
    border-radius: 8px;
    border-width: 2px;
    border-color: rgb(249, 135, 75);
    flex-direction: column;
    align-items: center;
    padding: 32px 32px 48px 32px;
}

.menu-title {
    font-size: 36px;
    color: white;
    -unity-text-align: middle-center;
    margin-bottom: 12px;
}

.menu-separator {
    width: 100%;
    height: 2px;
    background-color: rgb(249, 135, 75);
    margin-bottom: 12px;
}

.menu-button {
    width: 100%;
    height: 48px;
    margin-bottom: 12px;
    background-color: rgba(0, 0, 0, 0.843);
    border-radius: 8px;
    border-width: 2px;
    border-color: rgb(249, 135, 75);
    color: white;
    font-size: 18px;
    -unity-text-align: middle-center;
    cursor: arrow;
}

.menu-button:hover {
    background-color: rgba(30, 30, 30, 0.9);
    border-color: rgb(255, 160, 100);
}

.menu-button:active {
    background-color: rgba(50, 50, 50, 0.95);
}
